<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

  <xacro:unless value="$(arg sim_mode)">
      <ros2_control name="BatteryState" type="sensor">
        <hardware>
            <plugin>diffdrive_arduino/DiffDriveArduino</plugin>
            <param name="device">/dev/ttyACM0</param>
            <param name="baud_rate">115200</param>
            <param name="timeout">1000</param>
        </hardware>
        <sensor name="main_battery">
            <state_interface name="voltage"/>
            <state_interface name="temperature"/>
            <state_interface name="current"/>
            <state_interface name="charge"/>
            <state_interface name="capacity"/>
            <state_interface name="percentage"/>
            <state_interface name="power_supply_status"/>
            <state_interface name="power_supply_health"/>
            <state_interface name="present"/>
       </sensor>
      </ros2_control>
  </xacro:unless>

  <gazebo>
    <plugin name="gz::sim::systems::LinearBatteryPlugin" filename="gz-sim-linearbatteryplugin-system">
      <battery_name>lithium_battery</battery_name>
      <voltage>${open_circuit_voltage}</voltage>
      <open_circuit_voltage_constant_coef>${open_circuit_voltage}</open_circuit_voltage_constant_coef>
      <open_circuit_voltage_linear_coef>-2.0</open_circuit_voltage_linear_coef>
      <initial_charge>${battery_capacity}</initial_charge>
      <capacity>${battery_capacity}</capacity>
      <resistance>0.07</resistance>
      <smooth_current_tau>2.0</smooth_current_tau>
      
      <power_load>6.6</power_load> 
      <soc_threshold>0.51</soc_threshold>
      
      <fix_issue_225>false</fix_issue_225> <invert_current_sign>true</invert_current_sign>
      <enable_recharge>true</enable_recharge>
      <recharge_by_topic>true</recharge_by_topic>
      
      <charging_time>3.0</charging_time>
    </plugin>
  </gazebo>

</robot>