<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="robot">

    <xacro:arg name="use_ros2_control" default="true"/>
    <xacro:arg name="sim_mode" default="false"/>
    <xacro:arg name="include_arm" default="false"/>
    <xacro:arg name="controllers_file" default="$(find articubot_one)/config/my_controllers.yaml"/>

    <xacro:include filename="common_properties.xacro" />
    
    <xacro:include filename="robot_core.xacro" />

    <xacro:property name="imu_offset_x" value="0.0"/>
    <xacro:property name="imu_offset_z" value="${chassis_height/2}"/>
    <xacro:property name="imu_visual_size" value="0.02"/>
    <xacro:include filename="imu.xacro" />

    <xacro:include filename="lidar.xacro" />

    <!-- Camera mount: front of chassis and slightly above top surface. -->
    <xacro:property name="camera_offset_x" value="${(chassis_length / 2.0) - 0.02}"/>
    <xacro:property name="camera_offset_z" value="${chassis_height + 0.032}"/>
    <xacro:include filename="camera.xacro" />

    <xacro:if value="$(arg include_arm)">
        <xacro:include filename="arm.xacro" />
    </xacro:if>
    <xacro:include filename="ros2_control.xacro" />

</robot>
