<?xml version="1.0"?>
<model>
  <name>Aruco Marker 1</name>
  <version>1.0</version>
  <sdf version="1.10">model.sdf</sdf>
  <author>
    <name>articubot_one</name>
    <email>noreply@example.com</email>
  </author>
  <description>Static stand with ArUco marker ID 1 (DICT_4X4_50)</description>
</model>
